/* 
    Document   : autocomplete-jquery-ui
    Created on : Oct 7, 2013, 9:03:10 PM
    Author     : daniel
    Description:
        Correctly display a throbber when required
*/

html.js input.autocomplete-jquery-ui-processed.ui-autocomplete-loading {
  background-position: 100% -16px;
}

html.js .ui-autocomplete.ui-menu .ui-state-hover {
  color: #fff;
  background-color: #0072B9;
}

.autocomplete-jquery-ui.search-selection-control {
  clear: both;
}